/* html {
  max-height: 100%;
} */

/*BODY */

body {
  font-family: arial, sans-serif;
  font-size: 13px;
}

.page-div {
  display: flex;
  flex-direction: column;
  /* align-items:center; */
  justify-content: space-between;
  height: 100vh;
  width: 100%;
}

header a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.87);
}

/* HEADER NAV */

.header-nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.header-nav ul {
  display: flex;
}

.header-nav ul li {
  list-style: none;
  padding-right: 20px;
}

#sign-in {
  color: white;
  background-color: #4285f4;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 3%;
}

/*MAIN SECTION */

.main-section {
  position: absolute;
  top: 30%;
  left: 40%;
}

.main-section > * {
  flex: 0 1 auto;
}
.search-area {
  margin-top: 20px;
  margin-left: 40px;
}

#search-input {
  width: 200px;
}
/* #search-bar {
  width: 350px;
} */

.buttons {
  margin-left: 40px;
  margin-top: 15px;
}

/* COUNTRY SECTION */

section p {
  padding-left: 60px;
  background: #f2f2f2;
  margin-bottom: 0px;
  padding-bottom: 0px;
  padding-top: 20px;
  margin-left: 0px;
  color: rgba(0, 0, 0, 0.54);
  font-size: 15px;

  /* margin-top: 50%; */
}

/*FOOTER*/

footer {
  display: flex;
  justify-content: space-between;
  background: #f2f2f2;
  padding: 20px 20px;
  margin-left: 0px;
  margin-right: 0px;
}

footer ul {
  display: flex;
}

footer ul li {
  list-style: none;
  padding-right: 20px;
}

footer ul li a {
  color: #5f6368;
  text-decoration: none;
}
button:hover {
  background-color: white;
  color: black;
  border: 2px solid black;
  cursor: pointer;
}

@media (min-width: 600px) {
}

@media (max-width: 599px) {
}
